{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .create-form {
          width: 100%;
          max-width: 100%;
          padding: 15px;
          margin: auto;
        }
  
        .submit-button{
            max-width: 200px;
        }
  </style>
  
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <form class="create-form" method="post">{% csrf_token %}
  
             
                <div class="form-group">
                    <select class="form-control" name="belongs_to_group" id="cars">
                        {% for group in groups %}
                        <option value="{{group.name}}">{{group.name}}</option>
                        {% endfor %}
                      </select>
                </div>
                {% for message in messages %}
				{% if message.tags == "error" %}
					<div style="color:rgb(255, 0, 0)">
                		<p>{{ message|safe }}</p>
        			</div>
				{% endif %}
			{% endfor %}
  
                  <!-- Submit btn -->
                  <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Join Group</button>
              </form>	
          </div>
      </div>
  </div>

{% endblock content %}
