{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			{% if request.user.is_inTeam %}
				<form class="create-form" method="post">{% csrf_token %}

			
				<div class="form-group">
					<h2 class="card-title">{{building.name}}</h2>
				</div>

				<div class="form-group">
					{{map | safe}}
				</div>

				<div class="form-group">
					<label for="id_comment">Comment</label>
					<input class="form-control" type="text" name="comment" id="id_comment" placeholder="Comment">
				</div>
				<input type="hidden" id="latitude" name="latitude" value="">
				<input type="hidden" id="longitude" name="longitude" value="">
				<p id="demo"></p>
				{% for message in messages %}
					{% if message.tags == "error" %}
						<div style="color:rgb(255, 0, 0)">
							<p>{{ message|safe }}</p>
						</div>
					{% else %}
						<div style="color:rgb(0, 255, 64)">
							<p>{{ message|safe }}</p>
						</div>
					{% endif %}
				{% endfor %}


					<!-- Submit btn -->
					<button class="submit-button btn btn-lg btn-primary btn-block" type="submit" name="showLocation" id="location" onclick="unlockButton();" disabled>Show my location</button>
					<button class="submit-button btn btn-lg btn-primary btn-block" type="submit" name="capture" id="capture" {% if not enable %} disabled {%endif%}>Capture</button>
				</form>	
			{% else %}
				<p>You are not in a team. You should <a href="{% url 'group:join_group' %}">join a team</a>to capture territories.</p>
			{% endif %}
		</div>
	</div>
</div>


<script>    
	var x = document.getElementById("latitude");
	var y = document.getElementById("longitude");
	var demo = document.getElementById("demo");

	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		} else { 
			alert("Sorry, your browser does not support HTML5 geolocation.");
		}
	}

	function showPosition(position) {
		navigator.geolocation.getCurrentPosition(function(position) {
			x.value = position.coords.latitude;
			y.value = position.coords.longitude;
		    document.getElementById("location").disabled = false;
		});
	}	
	window.onload=getLocation;

  </script>

{% endblock content %}