{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    .buildings{
      max-width: 500px;
      width: 100%;
      margin: auto;
    }
  </style>

{% if request.user.is_authenticated %}
<div class="container mt-4 p-4">
    <div class="row">
      <div class="buildings">
        {% if request.user.is_inTeam %}
        <h3 class="mb-3 font-weight-normal">Territories:</h3>
        {% if buildings %}
            <ul class="list-group">
            {% for building in buildings %}
              {% if building.is_active %}
                {% if building.is_captured %}
                <a class="closeBtn" href="{% url 'territory_game:detail_territory' building.slug %}" style="text-decoration: none; color: rgb(255, 0, 0);">
                  <li class="list-group-item">{{building}} | Captured</li>
                {% else %}
                <a class="closeBtn" href="{% url 'territory_game:detail_territory' building.slug %}" style="text-decoration: none; color: rgb(0, 255, 149);">
                    <li class="list-group-item">{{building}} | Not Captured</li>
                {% endif %}
              {% endif %}
            {% endfor %}
            </ul>
          {% else %}
            <p>No Territories available.</p>
          {% endif %}
        {% else %}
          <p>You are not in a team. You should <a href="{% url 'group:join_group' %}">join a team to capture territories</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>




{% endif %}
{% endblock content %}