{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .create-form {
          width: 100%;
          max-width: 100%;
          padding: 15px;
          margin: auto;
        }
  
        .submit-button{
            max-width: 200px;
        }
  </style>
  
  <div class="container">
      <div class="row">
          <div class="col-lg-7 offset-lg-1">
              <form class="create-form" method="post">{% csrf_token %}
  
             
                <div class="form-group">
                    <label for="id_title">Name</label>
                    <input class="form-control" type="text" name="name" id="id_name" placeholder="Name" required autofocus>
                </div>
                <div class="form-group">
                    <div id="map" style="width:800px; height: 500px;"></div>
                </div>

                <input class="form-control" type="hidden" name="latitude" id="id_latitude" placeholder="Latitude" required autofocus>

                <input class="form-control" type="hidden" name="longitude" id="id_longitute" placeholder="Longitutde" required autofocus>
                {% for field in form %} 
                <p> 
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
        
                {% if form.non_field_errors %}
                <div style="color:red">
                        <p>{{form.non_field_errors}}</p>
                </div>
                {% endif %}
  
                  <!-- Submit btn -->
                  <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Add</button>
              </form>	
          </div>
      </div>
  </div>
  <script>
    var x = document.getElementById("id_latitude");
    var y = document.getElementById("id_longitute");
    var coords = [50.738099451637, -3.53507522602482]; // the geographic center of our map
    var zoomLevel = 16; // the map scale. See: http://wiki.openstreetmap.org/wiki/Zoom_levels
    
    var map = L.map('map').setView(coords, zoomLevel);
    

    L.tileLayer('https://api.maptiler.com/maps/openstreetmap/{z}/{x}/{y}.jpg?key=6IL7Ect5nCzx8XYDNjsN', {
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        id: 'mapbox.streets'
    }).addTo(map);
    var marker = L.marker([50.738099451637, -3.53507522602482]).addTo(map);

    map.on('click', addMarker);
    function addMarker(e){
        // Add marker to map at click location; add popup window
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;
        marker.setLatLng([lat, lng]); 
        x.value = lat.toFixed(5);
        y.value = lng.toFixed(5);
    }
</script>
{% endblock content %}
