{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex flex-column">
        {% if request.user.is_authenticated %}
        <h3>Map: </h3>
            {{map | safe}}

        {% else %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4"><b>King of University</b></h1>
            <p class="lead">In this game teams compete over zones around campus to establish dominance; 
                and earn points to reach the top spot on the leaderboard.<br>Will your team be the next 
                Kings of University?</p>
            <img src="{% static 'KoU_logo.png' %}">
        </div>
        {% endif %}






    



{% endblock content %}
