{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><b>Privacy Policy</b></h1>
    <p class="lead">
         This application does collect certain personal data, this includes the email, username and
         location (kept as longitude and latitude) when 'Show My Location' is pressed on the
         territory screen. Any passwords, however, are not retained in plaintext and instead kept
         in hashed form.
    </p>
    <p class="lead">
         The longitude and latitude of a user are retained until another location is entered,
         deleting the previous.
    </p>
    <p class="lead">
         No data collected by this application is shared in any capacity, and is collected
         strictly for use within the application.
    </p>
</div>






    



{% endblock content %}
