{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 style="margin-top: 50px;">Game Rules - How To Play:</h3>
    <ul>
        <li>Players and teams compete to earn the highest number of points by capturing territories/areas around campus.</li>
        <li>These territories are marked on the map after login.</li>
        <li>Once inside a territory, the player can use the capture territory button to capture it and gain points.</li>
        <li>Each player may only capture the same point once per day.</li>
        <li>At the end of each day, the team which has captured a territory the most times are awarded additional points.</li>
        <li>Point totals and game progress are tracked and compared via the leaderboard.</li>
    </ul>
</div>
{% endblock content %}