
   
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 style="margin-top: 50px;">Aim of the Game:</h3>
    <p>Teams compete over territories around campus; the team with the most players in a territory will gain control over that<br>
        territory. Teams earn points for controlling a territory, the more territory a team control the more points that team <br>
        will earn. If a team gains complete control over every territory in the University they will be crowned the kings of <br>
        University and recieve the mystery prize. 
    </p>
    <h3 style="margin-top: 50px;">Information:</h3>
    <ul>
        <li>Zones will be available to capture by Gamekeepers; players can look at the map on the main menu to see where these<br>
            capture points are. 
        </li>
        <li>When a player is near a capture point they can use the capture button on the home screen to start caturing the zone.</li>
        <li>Players and teams compete to earn the highest number of points by capturing territories/areas around campus.</li>
        <li>These territories are marked on the map after login.</li>
        <li>Once inside a territory, the player can use the capture territory button to capture it and gain points.</li>
        <li>Each player may only capture the same point once per day.</li>
        <li>At the end of each day, the team which has captured a territory the most times are awarded additional points.</li>
        <li>Point totals and game progress are tracked and compared via the leaderboard.</li>
    </ul>
</div>
{% endblock content %}