{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container">
    <h3 style="margin-top: 50px;">Aim of the Game:</h3>
    <p>Teams compete over territories around campus; players are able to go up to building marked on the user home page map and<br>
        capture it. Teams earn points for succesfully capturing a building and earn streaks the longer a team can keep hold of<br>
        the building. If a team gains complete control over every territory in the University they will be crowned the kings of <br>
        University. 
    </p>
    <h3 style="margin-top: 50px;">Information:</h3>
    <ul>
        <li>Zones will be available to capture by Gamekeepers; players can look at the map on the main menu to see where these<br>
            capture points are.
        </li>
        <li>When a player wants to a capture a building they can use the check my location button in the territories screen</li>
        <li>If the player is close enough the capture button will become available to press and the player can capture the building</li>
        <li>Each building has a cooldown and can't be recaptured until the cooldown expires.</li>
        <li>Players can check how long is left on a cooldown by trying to capture a territory.</li>
        <li>Teams can earn streaks to earn high score bonuses by recapturing territories they hold at the end of a cooldown.</li>
        <li>Point totals and game progress are tracked and compared via the leaderboard.</li>
        <li>Players can check which team holds which buildings by clicking on the building markers on the map in the home screen</li>
    </ul>
</div>
{% endif %}

{% endblock content %}