{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    .buildings{
      max-width: 500px;
      width: 100%;
      margin: auto;
    }
  </style>

{% if request.user.is_authenticated %}
<div class="container mt-4 p-4">
    <div class="row">
      <div class="buildings">
        {% if request.user.is_inTeam %}
        <h3 class="mb-3 font-weight-normal">You are in group {{request.user.belongs_to_group}}</h3>
        <ul class="list-group">
          {% for member in members %}
            <li class="list-group-item">{{member.username}}</li>
          {% endfor %}
          </ul>
        {% else %}
          <p>You are not in a team. <a href="{% url 'group:create_group' %}">Create a team</a> or
            <a href="{% url 'group:join_group' %}">join a team</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>


{% endif %}
{% endblock content %}