{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    .buildings{
      max-width: 500px;
      width: 100%;
      margin: auto;
    }
  </style>

{% if request.user.is_authenticated %}
<div class="container mt-4 p-4">
        {% if request.user.is_inTeam %}
        <h3 class="mb-3 font-weight-normal">Leaderboard of {{request.user.belongs_to_group}} team</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">User</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
          {% for member in members %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{member.username}}</td>
              <td>{{member.score}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'group:leave_group' %}">Leave your team</a>
        {% else %}
          <p>You are not in a team. <a href="{% url 'group:join_group' %}">Join a team</a>.</p>
        {% endif %}
  </div>


{% endif %}
<script>
  var i = 1;
  $('#table').find('td:nth-child(1)').each(function(){$(this).text(i++);});
</script>
{% endblock content %}