{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post">{% csrf_token %}

		   
			  <div class="form-group">
				<h2 class="card-title">{{building.name}}</h2>
			  </div>

			  <div class="form-group">
				{{map | safe}}
			  </div>

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit" name="activate">Activate</button>
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit" name="deactivate">Deactivate</button>
			</form>	
		</div>
	</div>
</div>

	

{% endblock content %}