{% extends 'base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Hello Everyone</h1>
    <p class="lead">This is sone example overview text</p>
</div>

<div class="container">
    <div class="d-flex flex-column">
        <h3>User Info: </h3>
        {% if request.user.is_authenticated %}
        <p>Username: {{request.user.username}} </p>
        <p>Email: {{request.user.email}} </p>
        {% endif %}
    </div>
</div>




    



{% endblock content %}
